@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700&display=swap');

:root{
    --light-color: #ffcbcb;
--primary-color: #407088;
--secondary-color: #ffb5b5;
--dark-color: #132743;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--primary-color);
    background-color: var(--light-color)
    /* background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23407088' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.card-wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    background: white;
    border: 3px solid var(--primary-color);
    box-shadow: 1px 1px 4px rgba(var(--dark-color), 0.3);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;

    &:hover,
    &.hover {
        border-color: #407088;

        .card-head,
        .card-body {
            transform: translateY(0);
        }
    }

    .card-head {
        transform: translate(10%, 85%);
        transition: .3s ease all;

        svg {
            width: 120px;
            height: 120px;

            path {
                fill: var(--secondary-color);
            }
        }

        h2 {
            font-family: 'Oswald', sans-serif;
            margin: 0;
            padding: 0 1rem;
        }
    }

    .card-body {
        transform: translateY(100%);
        transition: .3s ease all;

        .title {
            font-family: 'Oswald', sans-serif;
            padding: 0 1rem 0.25rem;
            color: var(--secondary-color);
        }

        .desc {
            padding: 0.5rem 1rem;
            order: 99;
        }

        .actions {
            order: 100;
            padding: 0.5rem 1rem;

            button {
                background: transparent;
                border: 0;
                color: var(--secondary-color);
                font-size: 20px;
                width: 32%;
                padding: 10px 0;
                cursor: pointer;
                transition: .3s ease all;

                &:hover {
                    color: var(--primary-color);
                    transform: translateY(-5px);
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}