.department-card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* padding: 10px auto 10px auto; */
    /* float: left; */
}

.department-view{
    display: flex;
    align-items: center;
}

.department-view .depart-view-container {
    width: 300px;
}

.department-view .depart-view-container h4 {
    font-size: 15px;
}

.department-view .depart-view-container p {
    font-size: 20px;
}
.department-view .depart-view-container p strong{
    font-size: 17px;
}

.department-view .depart-view-container ul {
    font-size: 10px;
    padding-bottom: 5px;
}

.department-view .depart-view-container ul li {
    list-style-type: circle;
    margin: 0;
    padding: 5px 0;
}

.department-view article {
    width: 300px;
    font-size: 100px;
}
.department-card:hover{
    cursor: pointer;
}

.employee-content h4#depart-head {
    padding: 10px;
}

.department-list {
    max-height: 300px;
    overflow: scroll;
    width: 380px;
}

.department-card article {
    padding-left: 5px;
    font-size: 30px;
    /* background-color: red; */
}

.department-container {
    padding-left: 5px;
}

.second-column ul#depart-ul {
    margin: 0;
    padding-bottom: 20px;
    /* padding: 15px; */
    /* padding-left: 2px; */
}

#depart-ul li {
    list-style-type: circle;
    margin: 0;
    padding: 5px 0;
}

.second-column {
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 5px;
    padding-bottom: 20px;
    max-height: 300px;
    overflow: scroll;
}

.second-column .links {
    padding-top: 20px;
    padding-bottom: 20px;
}

.depart {
    display: flex;
}

.selected-department article {
    font-size: 45px;
}

form fieldset#dep-field {
    padding: 20px;
}

.department-column-one {
    background-color: #efefef;
    width: 470px;
    float: left;
    margin: 10px;
    max-height: 300px;
    /* overflow: scroll; */
}