.employee-content {
    text-align: center;
    width: 720px;
    margin: 20px auto 20px auto;
    font-weight: normal;
    max-height: 560px;

    background-color: aqua;
}

.column {
    background-color: #efefef;
    width: 340px;
    float: left;
    margin: 10px;
    max-height: 300px;
    overflow: scroll;
    
}

.content {
    display: flex;
}

.form-content{
    display: flex;
}

.form-content form {
    padding-left: 100px;
}
.column1 {
    background-color: #efefef;
    width: 160px;
    float: left;
    margin: 10px;
}

.employee-content ul li {
    list-style-type: none;
    padding-top: 50px;
    /* display: inline; */
}

#login a {
    color: blue;
}

#login a:hover {
    color: #cc3333;
    background-color: #ffffff;
}


.column a:hover {
    color: black;
}

.employee-list-display:hover {
    background-color: #f3eaea;
} 

.employee-content form label {
    padding-left: 25px;
}

/* .column #list-heading {
    position: fixed;
} */
/* 
.Employee{
    /* background-color: black; */
/* max-width: 1100px;
margin: 0 auto;
padding: 0 15px;
padding-top: 30px;
height: 100%;
display: block;
} */

/* .side-bar { */
/* position: absolute; */
/* background: silver;
    width: 200px;
    height: 100%;
    top: 50px;
    padding-top: 10px;
    align-items: first baseline; */
/* padding-left: 10px; */
/* align-items: center; */
/* z-index: 1; */
/* } */

/* 

.side-bar ul li {
    margin: 40px 0;

}

.side-bar ul li span {
    color: black;
    padding: 0 30px;
}

.employee-content {
    margin-left: 200px;
    height: 100%;
    background-color: black;
} */