.success {
    color: rgb(53, 128, 18);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(53, 128, 18);
    padding: 10px;
    /* margin-bottom: 10px; */
    margin: 10px auto 10px auto;
    text-align:center;
    width: 300px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 12px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: red;
    text-align: center;
    /* margin-bottom: 10px; */
    width: 300px;

    margin: 10px auto 10px auto;
    /* text-align: left; */
}