.user-detail li {
    display: initial;
}

.employee-content .user-detail span {
    padding-left: 50px;
}

.employee-list-display {
    width: 320px;
    height: 120px;
    padding: 20px auto 18px auto;
    text-align: left;
    padding-left: 30px;
    background-color: rgb(100, 112, 112);
    text-transform: none;
}

.employee-list-display h4 {
    padding-left: 40px;

}

.employee-content #submit {
    background-color: rgb(172, 194, 172);
}

#user-detail {
    padding: 60px;
}

.column-two {
    background-color: #efefef;
    width: 200px;
    float: left;
    margin: 10px;
}

.column-one {
    background-color: #efefef;
    width: 470px;
    float: left;
    margin: 10px;
    max-height: 300px;
    overflow: scroll;

}

#input-text {
    width: 110px;
}


.column-two ul#department-list {
    list-style-type: circle;
    margin: 0;
    padding-left: 25px;
    padding-bottom: 20px;
}

.column-two ul#department-list li {
    /* list-style-type: circle; */
    margin: 0;
    padding: 5px 0;
   text-align: left;
}

.column-two ul#department-list li button {
    border-color: rgb(238, 155, 155);
    padding-left: 2px;
    font-size: 20px;
}

.login input#email, .login #password {
    width: 200px;
}

.login input#login-submit {
    width: 70px;
}

.login form {
    padding-bottom: 10px;
}