.user-display {
    /* width: 550px; */
    height: 350px;
    background-color: red;
    margin: 0 auto;
    display: flex;
}

.user-display img {
    display: block;
    height: 300px;
    padding: 20px;
}


.user-display .user-display-container {
    background-color: blue;
    display: block;
    margin: 0 auto;
    width: 350px;

    /* height: 300px; */
    padding-top: 20px;
    text-align: left;

    /* Centering the div */
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px */
}

.user-display-container ul#department {
    list-style-type: circle;
    margin: 0;
    padding-left: 25px;
    padding-bottom: 20px;
    float: left;
    /* padding: 15px; */
}

#department li {
    list-style-type: circle;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
}

.user-display-container div#personal{
    padding: 20px;
}

.user-display-container div#technical{
    padding-left: 35px;
}

.user-display-container div#personal article{
    padding: 5px;
    padding-left: 15px;
    /* background-color: black; */
    /* float: left; */
}


.employee-content button#user-logout{
    float: right;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    /* padding-bottom: 20px; */
    /* padding: 20px; */
}

.employee-content#logout {
    height: 15px;
    /* padding-bottom: 20px; */
}