.user-detail {
    width: 550px;
    /* height: 350px; */
    background-color: red;
    margin: 0 auto;
    display: flex;
}

.user-detail img {
    display: block;
    height: 250px;
    padding: 20px;
}


.user-detail .user-detail-container {
    margin: 0 auto;
}